// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    .nav-link {
        text-decoration: none;
        color: $text-color-white;

        &.active {
            color: $active-color;
        }
    }
}