// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: $text-color;
    text-decoration: none;

    @include on-event {
        color: $text-color;
        text-decoration: underline;
    }
}

html,
body,
#wrapper {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
    padding: 30px;
}

.height-100 {
    height: 100%;
}