// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

$text-color: rgb(34, 34, 34);
$brand-color: rgb(229, 0, 80);
$light-grey: rgb(237, 237, 237);
$mid-grey: rgb(153, 153, 153);
$dark-grey: rgb(68, 68, 68);
$background-color: rgba(228, 245, 253, 0.626);
$box-shadow-container: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$container-max-width: 1180px;

$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px,
);

$base-url: '/assets/';